<body>
  <center>
    Welcome to the home page of Team SSO app. <br /><br />
    Take a look at the various sign in options below.
  </center>
  <div>
    <center>
      <form method="post">
        <input type="hidden" name="signIn" value="google" />
        <input type="submit" value="Sign in with Google"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="yammer" />
        <input type="submit" value="Sign in with Yammer"/>
      </form>
      <form method="post">
        <input type="hidden" name="signIn" value="VK" />
        <input type="submit" value="Sign in with VK"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="stripe" />
        <input type="submit" value="Sign in with Stripe"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="basecamp" />
        <input type="submit" value="Sign in with Basecamp"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="zendesk" />
        <input type="submit" value="Sign in with Zendesk"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="box" />
        <input type="submit" value="Sign in with Box"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="formstack" />
        <input type="submit" value="Sign in with Formstack"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="github" />
        <input type="submit" value="Sign in with Github"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="reddit" />
        <input type="submit" value="Sign in with Reddit"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="yandex" />
        <input type="submit" value="Sign in with Yandex"/>
      </form>
    </center>
  </div>

</body>
