<body>
  <center>
    Welcome to the home page of Team SSO app. <br /><br />
    Take a look at the various sign in options below.
  </center>
  <div>
    <center>
      <form method="post">
        <input type="hidden" name="signIn" value="google" />
        <input type="submit" value="Sign in with Google"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="yammer" />
        <input type="submit" value="Sign in with Yammer"/>
      </form>
      <br>
      <form method="post">
        <input type="hidden" name="signIn" value="basecamp" />
        <input type="submit" value="Sign in with Basecamp"/>
      </form>
    </center>
  </div>

</body>
